@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

.nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  .nav__logo {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    position: relative;
    span {
      font-family: "Gochi Hand", cursive;
      position: absolute;
      animation: moveIn 1s forwards;
      animation-delay: 5s;
      left: -100%;
      & div {
        margin: -10px 0;
      }
    }
    svg {
      position: absolute;
      transform: rotateY(180deg);
      animation: driving 5s forwards;
    }
  }
  .nav__pages {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@keyframes driving {
  0% {
    left: 300%;
  }
  100% {
    left: 0;
  }
}
@keyframes moveIn {
  0% {
    left: -100%;
    color: white;
  }
  100% {
    left: 15%;
    transform: rotate(30deg);
  }
}
