#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
}
input {
  width: 215px;
  stroke: none;
  padding: 10px;
  margin-left: 10px;
}
select {
  border: none;
  padding: 10px;
  border-radius: 10px;
  padding-left: 10px;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
  option {
    color: #313131;
  }
}
